body{background-image: url('../photos/background.jpg');}
a{text-decoration: none;color: black;}
.font-containt-bold{font-family: "Lao UI";font-weight: bold;}
.font-containt{font-family: "Lao UI";}
.box-shadow-comman{box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;-webkit-box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;-moz-box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;}
.black-header{font-size: 14px;background-color: black;color: white;height: 22px;padding-left: 10px;}
.black-header1{font-size: 13px;background-color: black;color: white;height: 20px;padding-left: 5px;}
.filler{box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;-webkit-box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;-moz-box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;}

.prize-container{padding-left: 25px;font-size: 20px;padding-top: 10px;font-weight: bold;font-family: Algerian;width: 80%;}
.pass-change{font-size: 12px;width: 500px;height: 20px;}
.pass-change td{font-size: 12px;width: 500px;height: 20px;padding-left: 15px;padding-right: 15px;padding-top: 8px;}

#changePass{width: 75px;height: 30px;border-radius:3px;color: white;font-size: 14px;font-weight: bolder;cursor: pointer;background-color: #B01212;border: 1px solid black;
    box-shadow:1px 1px 1px 1px #504848;-webkit-box-shadow: 1px 1px 1px 1px #504848;-moz-box-shadow:1px 1px 1px 1px #504848;
}
.paytoplayBalance-table tr{height: 30px;}

.withdraw-button{width: 100px;height: 30px;border-radius:3px;color: white;font-size: 14px;font-weight: bolder;cursor: pointer;background-color: #B01212;border: 1px solid black;
    box-shadow:1px 1px 1px 1px #504848;-webkit-box-shadow: 1px 1px 1px 1px #504848;-moz-box-shadow:1px 1px 1px 1px #504848;}
.deposit-button{width: 100px;height: 30px;border-radius:3px;color: white;font-size: 14px;font-weight: bolder;cursor: pointer;background-color: #167C07;border: 1px solid black;
    box-shadow:1px 1px 1px 1px #504848;-webkit-box-shadow: 1px 1px 1px 1px #504848;-moz-box-shadow:1px 1px 1px 1px #504848;}
.history-table{border-top: 1px solid #A4A4A4;border-right: 1px solid #A4A4A4;border-left: 1px solid #A4A4A4;}
.history-table td{border-bottom: 1px solid #A4A4A4;padding-left: 5px;}