root {display: block;}
body{background-image: url('../photos/background.jpg');}
a{text-decoration: none;color: black;}
.font-containt-bold{font-family: "Lao UI";font-weight: bold;}
.font-containt{font-family: "Lao UI";}
.box-shadow-comman{box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;-webkit-box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;
    -moz-box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;}
.black-header{font-size: 14px;background-color: black;color: white;height: 22px;padding-left: 10px;}
.filler{box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;-webkit-box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;
    -moz-box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;}
.fixture-div-item-container{width:980px;height:120px;box-shadow:1px 1px 1px 1px #504848,-1px -1px 1px 1px #504848;
    -webkit-box-shadow:1px 1px 1px 1px #504848,-1px -1px 1px 1px #504848;-moz-box-shadow:1px 1px 1px 1px #504848,-1px -1px 1px 1px #504848;font-size: 12px;}
.manageteam-button{width: 150px;height: 30px;border-radius:4px;background-color: #BA0808;cursor: pointer;color: white;border: 1px solid silver;box-shadow:1px 1px 2px 2px #504848;
    -webkit-box-shadow:1px 1px 2px 2px #504848;-moz-box-shadow:1px 1px 2px 2px #504848;}
.dailyChellenge-button{width: 150px;height: 30px;border-radius:4px;background-color: #077E09;cursor: pointer;color: white;border: 1px solid silver;box-shadow:1px 1px 2px 2px #504848;
    -webkit-box-shadow:1px 1px 2px 2px #504848;-moz-box-shadow:1px 1px 2px 2px #504848;}
.fixture-images{border: 1px solid silver;box-shadow:1px 1px 1px 1px #504848,-1px -1px 1px 1px #504848;
    -webkit-box-shadow:1px 1px 1px 1px #504848,-1px -1px 1px 1px #504848;-moz-box-shadow:1px 1px 1px 1px #504848,-1px -1px 1px 1px #504848;}

