body{}
.header-bg-image{position:absolute;left:-8px;top:0px;width:1016px;}
.back{background:#778899;margin-top:5px;height:150px;width:1050px;margin-left:150px;margin-right:150px;border:1px solid #dcdcdc;border-radius:10px;}

