root{display: block;}
body{background-image: url('../photos/background.jpg');}
a{text-decoration: none;color: black;}
.font-containt-bold{font-family: "Lao UI";font-weight: bold;}
.font-containt{font-family: "Lao UI";}
.box-shadow-comman{box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;
                   -webkit-box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;
                   -moz-box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;
}
.black-header{font-size: 14px;background-color: black;color: white;height: 22px;padding-left: 10px;}

.dailay-pay-button{position: absolute;width: 175px;height: 30px;border: none;cursor: pointer;background-color: #E86100;border: 1px silver solid;color: white;font-size: 12px;font-weight: bold;border-radius: 8px ; -moz-border-radius: 8px ;-webkit-border-radius: 8px ;}
.leaderboard-pay-button{position: absolute; width: 175px;height: 30px;border: none;cursor: pointer; background-color: #437D00; border: 1px silver solid;color: white;font-size: 12px;font-weight: bold;border-radius: 8px ; -moz-border-radius: 8px ;-webkit-border-radius: 8px ;}
#join-pay-button{position: absolute;width: 175px;height: 30px;border: none;cursor: pointer;background-color: #008EDA;border: 1px silver solid; color: white;font-size: 12px;font-weight: bold;border-radius: 8px ;-moz-border-radius: 8px ;-webkit-border-radius: 8px ;}
#mask { position:absolute; left:0;top:0;z-index:9000;background-color:#000;display:none;}
#box .window { position:fixed; left:0; top:0; width:750px; height:450px; display:none; z-index:9999; padding:20px; }
#box #HowToPlay {width:750px;height:550px;padding:10px;background-color:#ffffff;box-shadow:2px 2px 10px 10px #504848;-webkit-box-shadow:2px 2px 10px 10x #504848;
                 -moz-box-shadow:2px 2px 10px 10px #504848;}
#box #HowToPay {width:750px;height:550px;padding:10px;background-color:#ffffff;box-shadow:2px 2px 10px 10px #504848;-webkit-box-shadow:2px 2px 10px 10x #504848;
                -moz-box-shadow:2px 2px 10px 10px #504848;}
#box #HowToWithdraw {width:750px;height:550px;padding:10px;background-color:#ffffff;box-shadow:2px 2px 10px 10px #504848;-webkit-box-shadow:2px 2px 10px 10x #504848;
                     -moz-box-shadow:2px 2px 10px 10px #504848;}
.container{width:725px;height:500px;left: 20px;top: 50px;padding-left: 10px;line-height: 20px;overflow-y:auto;overflow-x:auto;color: #515252;}
.popup-buttons{width: 245px;height: 90px;font-size: 15px;}
.content-ul{color:#555555;font-size: 13px;padding-left: 30px;}
.fixture-images{border: 1px solid silver;box-shadow:1px 1px 1px 1px #504848,-1px -1px 1px 1px #504848;
    -webkit-box-shadow:1px 1px 1px 1px #504848,-1px -1px 1px 1px #504848;-moz-box-shadow:1px 1px 1px 1px #504848,-1px -1px 1px 1px #504848;}
.fixture-div-item-container{width:980px;height:120px;box-shadow:1px 1px 1px 1px #504848,-1px -1px 1px 1px #504848;
    -webkit-box-shadow:1px 1px 1px 1px #504848,-1px -1px 1px 1px #504848;-moz-box-shadow:1px 1px 1px 1px #504848,-1px -1px 1px 1px #504848;font-size: 12px;}
.nav-fixture-table{color:#4B4B4B;font-size: 12px;}
.nav-fixture-table tr{color:#4B4B4B;font-size: 12px;}
.nav-fixture-table th{border-bottom: 1px solid #D6D6D6;padding-left: 8px;}
.nav-fixture-table td{border-bottom: 1px solid #D6D6D6;padding-left: 8px;}
.href-tr{cursor: pointer;}