root {display: block;}
body{background-image: url('../photos/background.jpg');}
a{text-decoration: none;color: black;}
.font-containt-bold{font-family: "Lao UI";font-weight: bold;}
.font-containt{font-family: "Lao UI";}
.box-shadow-comman{box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;-webkit-box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;
    -moz-box-shadow:6px 0px 5px -5px #504848, -6px 0px 5px -5px #504848;}
.black-header{font-size: 14px;background-color: black;color: white;height: 22px;padding-left: 10px;}
.TC-header{width: 90%;background-color: #10DADA;padding-bottom: 3px;padding-top: 4px;padding-left: 20px;padding-right: 25px;color: white;height: 18px;font-size: 14px;}
.TC-content{width: 90%;padding-bottom: 15px;padding-top: 8px;padding-left: 30px;padding-right: 35px;font-size: 13px;text-justify: auto;line-height: 20px;color: #666666;}
ol{padding-left: 25px;}