
root { 
    display: block;
}

/**************   USER DATA CSS (included file) ******************/
label input[type="file"]{-moz-opacity:0 ;filter:alpha(opacity: 0);cursor:pointer;opacity: 0;}
label {width:80px;height:100px;display:block;cursor:pointer; /* more styles here */}
.user-data-table tr{
    padding-top: 0px;
    padding-bottom: 0px;
}
.user-data-manager{
    background-color: #BC4B0E;
    color: white;
    height: 15px;
    padding-left: 3px;
    font-size: 12px;
}
.user-data-rank{
    color: #B0082A;
    font-size: 24px;
}
.private-league-table{
    width: 100%;
}
.private-league-table a{
    color: black;

}
.private-league-table th{
    text-align: left;
     padding-left: 4px;
     font-size: 12px;
     color: white;
     background-color: #047496;
     height: 20px;
}
.private-league-table td{
     padding-left: 4px;
     font-size: 14px;
     height: 15px;
     border-bottom: 1px solid silver;
}
.public-league-th th{
    background-color: #A10A0A;
}
/******************************************************************/
