/* 
    Document   : manageteam
    Created on : May 9, 2014, 3:05:46 AM
    Author     : Hardik
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

